html {
  font-family: 'Roboto', sans-serif;
}


.container {
  max-width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  list-style-type: none;
  padding: 32px 0px 0px 0px;
}

a {
  text-decoration: none;
}

.menu__body {
  display: flex;
  justify-content: space-between;
}

.menu__link {
  text-decoration: none;
  font-weight: 500;
  color: #828282;
  line-height: 0px;
  transition: color 0.5s;
  &:hover {
    color: #000;
  }
}

.hamburger {
  display: none;
}

.header__vector {
  margin-top: 32px;
  background-color: #828282;
  min-width: 100%;
  height: 1px;
}

.header__info {
  display: flex;
  justify-content: space-between;
  
}

.info__name {
  margin-top: 40px;
  font-size: 48px;
  color: #000;
  font-weight: 900;
}
 
.info__birthday {
  font-weight: 500;
  margin-top: 104px;
  font-size: 18px;
  color: #000;
}

.self__img {
  display: none;
}

.info__lang {
  position: relative;
  width: 76px;
  height: 70px;
}

.lang__eng {
  font-weight: 500;
  color: #828282;
  display: block;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  position: absolute;
  right: -26px;
  top: 116px;
  transition: color 0.5s;
  &:hover {
    color: #000;
  }
}

.lang__ru {
  font-weight: 500;
  color: #828282;
  display: block;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  position: absolute;
  right: -15px;
  top: 144px;
  transition: color 0.5s;
  &:hover {
    color: #000;
  }
}


.header__img {
  max-width: 940px;
  margin-top: 50px;
}

.bg {
  max-width: 100%;
}

.about {
  margin-top: 220px;
}

.about__title, .title  {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

.about__descr  {
  margin-top: 13px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  p {
    margin-bottom: 35px;
  }
}

.skills {
  margin-top: 190px;
  margin-bottom: 220px;
}

.skills__title {
  margin-bottom: 63px;
}

.skills__subtitle {
  text-align: center;
  line-height: 0px;
  margin-bottom: 86px;
  font-size: 18px;
}

.skills__flex {
  display: flex;
  justify-content: space-between;
}
.skills__programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 167px;
  height: 206px;
}

.programs__title {
  text-align: center;
  font-size: 14px;
  color: #828282;
  font-weight: 500;
  padding-bottom: 38px;
  padding-top: 20px;
}

.figma__title {
  padding-bottom: 54px;
}

.portfolio__title, .title {
  margin-bottom: 47px;
}

.portfolio__item {
  max-width: 936px;
  height: 510px;
}

.programs__rating {
  max-width: 167px;
}

.portfolio__img {
  max-width: 100%;
}

.portfolio__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 44px;
  margin-bottom: 99px;
}

.contacts__title {
  margin-bottom: 32px;
}

.contacts__subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}

.contacts__button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 85px;
  background-color: #000;
  width: 180px;
  height: 42px;
  border-radius: 25px;
}

.button__link {
  display: inline-block;
  color: #ffffff;
  padding: 12px 37px;
  font-weight: 500;
}


.contacts__social {
  display: flex;
  margin: 0 auto;
  max-width: 342px;
  justify-content: space-between;
}

.contacts__descr {
  margin-top: 45px;
  text-align: center;
  color: #828282;
  font-size: 14px;
  font-weight: 500;
}

// MEDIA

// // Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) { ... }



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
  .container {
    max-width: 871px;
  }
  .about {
    margin-top: 120px;
  }
  .skills {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .portfolio__subtitle {
    margin-top: 127px;
  }
  .icon {
    max-height: 75px;
  }
  .programs__title {
    font-size: 12px;
    padding-bottom: 28px;
  }
  .fa-star {
    font-size: 12px;
  }
  .portfolio__item {
    max-height: 410px;
  }
  .contacts__button {
    max-height: 32px;
  }
  .footer__icons {
    max-height: 35px;
  }
  .button__link {
    padding: 8px 37px;
  }
}

// // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
  .container {
    max-width: 747px;
  }
  .about {
    margin-top: 80px;
  }
  .about__title {
    margin-bottom: 37px;
  }
  .skills {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .icon {
    max-width: 70px;
    max-height: 70px;
  }
  .programs__title {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .fa-star {
    font-size: 12px;
  }
  .skills__subtitle {
    margin-bottom: 56px;
  }
  .figma__title {
    padding-bottom: 23px;
  }
  .skills__programs {
    max-width: 106px;
    height: 165px;
  }
  .portfolio__item {
    max-width: 557px;
    height: 305px;
    margin: 0 auto;
  }
  .portfolio__subtitle {
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .info__name {
    font-size: 42px;
  }
  .info__birthday {
    font-size: 16px;
  }
  .title {
    font-size: 30px;
  }
  .description {
    font-size: 16px;
  }

  .contacts__button {
    margin-bottom: 65px;
  }
  .footer__icons {
    max-width: 30px;
  }
  .contacts__descr {
    margin-top: 30px;
  }
 }


@media (max-width: 420px) {
  .container {
    padding-left: 29px;
    padding-right: 29px;
  }
  .header__info {
    flex-direction: column;
  }
  .info__birthday {
    margin-top: 20px;
  }
  .header__vector {
    display: none;
  }

  .bg {
    display: none;
  }
  .about {
    margin-top: 160px;
  }
  .self__img {
    margin: -15px auto 0 auto;
    display: block;
    max-width: 100%;
  }

  .skills {
    margin-top: 160px;
    margin-bottom: 80px;
  }

  .portfolio__item {
    max-height: 150px;
  }
  .description {
    font-size: 16px;
  }
  .portfolio__img {
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio__item {
    margin-bottom: 30px;
  }
  .portfolio__subtitle {
    margin-top: 48px;
    margin-bottom: 70px;
  }
  .button__link {
    padding: 12px 36px;
  } 
  .skills__flex {
    flex-direction: column;
  }
  .skills__programs {
    margin: 0 auto 80px auto;
  }
  .info__name {
    font-size: 40px;
  }

  .info__lang {
    position: fixed;
  }
  .lang__ru, .lang__eng {
    top: 0;
    left: -650%;
    transition: 0.6s all;
    &_active {
      left: 550%;
    }
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: -100%;
    transition: 0.6s all;
    &_active {
      left: 0;
    }
    &__body {
      flex-direction: column;
      height: 400px;
      padding-top: 60px;
      padding-left: 25px;
      li {
        font-size: 34px;
        font-weight: 800;
      }
    }
  }

  .info__lang {
    margin-top: 100px;
    // max-width: 46px;
    // max-height: 131px;

  }
  .lang__ru {
    transform: rotate(90deg);
    transform-origin: left top 0;
    right: -20px;
    top: 568px;
    font-size: 30px;
    font-weight: 800;
  }
  .lang__eng {
    font-size: 30px;
    font-weight: 800;
    transform: rotate(90deg);
    transform-origin: left top 0;
    right: -59px;
    top: 621px;
    // width: 10px;
    // height: 70px;
  }
  .hamburger {
    display: block;
    position: fixed;
    right: 28px;
    // right: -470px;
    top: 68px;
    // transform: translateY(-50%);
    width: 34px;
    height: 22px;
    span {
      display: block;
      height: 4px;
      width: 100%;
      background-color: #000;
      margin-bottom: 3.84px;
      transition: 0.5s all;
    }
    &_active {
      span {
        margin-bottom: -3.84px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);}  
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }

      } 
    }  
    }
}


 // // Extra small devices (portrait phones, less than 576px)
@media (min-width: 421px) and (max-width: 499px) {


  .container {
    padding-left: 29px;
    padding-right: 29px;
  }
  .header__info {
    flex-direction: column;
  }
  .info__birthday {
    margin-top: 20px;
  }
  .header__vector {
    display: none;
  }

  .bg {
    display: none;
  }
  .about {
    margin-top: 160px;
  }
  .self__img {
    margin: -15px auto 0 auto;
    display: block;
    max-width: 100%;
  }

  .skills {
    margin-top: 160px;
    margin-bottom: 80px;
  }

  .portfolio__item {
    max-height: 200px;
  }
  .description {
    font-size: 16px;
  }
  .portfolio__img {
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio__item {
    margin-bottom: 30px;
  }
  .portfolio__subtitle {
    margin-top: 65px;
    margin-bottom: 70px;
  }
  .button__link {
    padding: 12px 36px;
  } 
  .skills__flex {
    flex-direction: column;
  }
  .skills__programs {
    margin: 0 auto 80px auto;
  }
  .info__name {
    font-size: 40px;
  }

  .info__lang {
    position: fixed;
  }
  .lang__ru, .lang__eng {
    top: 0;
    left: -650%;
    transition: 0.6s all;
    &_active {
      left: 550%;
    }
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: -100%;
    transition: 0.6s all;
    &_active {
      left: 0;
    }
    &__body {
      flex-direction: column;
      height: 400px;
      padding-top: 60px;
      padding-left: 25px;
      li {
        font-size: 34px;
        font-weight: 800;
      }
    }
  }

  .info__lang {
    margin-top: 100px;
    // max-width: 46px;
    // max-height: 131px;

  }
  .lang__ru {
    transform: rotate(90deg);
    transform-origin: left top 0;
    right: -20px;
    top: 568px;
    font-size: 30px;
    font-weight: 800;
  }
  .lang__eng {
    font-size: 30px;
    font-weight: 800;
    transform: rotate(90deg);
    transform-origin: left top 0;
    right: -59px;
    top: 621px;
    // width: 10px;
    // height: 70px;
  }
  .hamburger {
    display: block;
    position: fixed;
    right: 28px;
    // right: -470px;
    top: 68px;
    // transform: translateY(-50%);
    width: 34px;
    height: 22px;
    span {
      display: block;
      height: 4px;
      width: 100%;
      background-color: #000;
      margin-bottom: 3.84px;
      transition: 0.5s all;
    }
    &_active {
      span {
        margin-bottom: -3.84px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);}  
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }

      } 
    }  
    }
  }

@media (min-width: 500px) and (max-width: 575px) {
  .portfolio__subtitle { 
    margin-top: 127px;
  }
  .container {
    padding-left: 29px;
    padding-right: 29px;
  }
  .header__info {
    flex-direction: column;
  }

  .description {
    font-size: 16px;
  }
  .info__birthday {
    margin-top: 20px;
  }
  .header__vector {
    display: none;
  }

  .bg {
    display: none;
  }
  .about {
    margin-top: 160px;
  }
  .self__img {
    margin: -15px auto 0 auto;
    display: block;
    max-width: 100%;
  }

  .skills {
    margin-top: 160px;
    margin-bottom: 80px;
  }
  .portfolio__item {
    max-height: 171px;
  }
  .portfolio__img {
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio__item {
    margin-bottom: 30px;
  }
  .portfolio__subtitle {
    // margin-top: 127px;
    margin-bottom: 70px;
  }
  .button__link {
    padding: 12px 36px;
  } 
  .skills__flex {
    flex-direction: column;
  }
  .skills__programs {
    margin: 0 auto 80px auto;
  }
  .info__name {
    font-size: 40px;
  }

  .info__lang {
    position: fixed;
  }
  .lang__ru, .lang__eng {
    top: 0;
    left: -650%;
    transition: 0.6s all;
    &_active {
      left: 550%;
    }
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: -100%;
    transition: 0.6s all;
    &_active {
      left: 0;
    }
    &__body {
      flex-direction: column;
      height: 400px;
      padding-top: 60px;
      padding-left: 25px;
      li {
        font-size: 34px;
        font-weight: 800;
      }
    }
  }

  .info__lang {
    margin-top: 100px;
    // max-width: 46px;
    // max-height: 131px;

  }
  .lang__ru {
    transform: rotate(90deg);
    transform-origin: left top 0;
    right: -20px;
    top: 568px;
    font-size: 30px;
    font-weight: 800;
  }
  .lang__eng {
    font-size: 30px;
    font-weight: 800;
    transform: rotate(90deg);
    transform-origin: left top 0;
    right: -59px;
    top: 621px;
    // width: 10px;
    // height: 70px;
  }
  .hamburger {
    display: block;
    position: fixed;
    right: 28px;
    // right: -470px;
    top: 68px;
    // transform: translateY(-50%);
    width: 34px;
    height: 22px;
    span {
      display: block;
      height: 4px;
      width: 100%;
      background-color: #000;
      margin-bottom: 3.84px;
      transition: 0.5s all;
    }
    &_active {
      span {
        margin-bottom: -3.84px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }  
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
}
      
  